<a href="https://colab.research.google.com/github/ch-aitali/Datascience_batch_17-sep/blob/main/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.graphics.regressionplots import influence_plot
import statsmodels.formula.api as smf
import numpy as np
import csv

In [25]:
data=pd.read_csv("ToyotaCorolla.csv",encoding="ISO-8859-1")

In [26]:
data

        Id  ... Tow_Bar
0        1  ...       0
1        2  ...       0
2        3  ...       0
3        4  ...       0
4        5  ...       0
...    ...  ...     ...
1431  1438  ...       0
1432  1439  ...       0
1433  1440  ...       0
1434  1441  ...       0
1435  1442  ...       0

[1436 rows x 38 columns]